@import url("https://www.fontstatic.com/f=bahij");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
* {
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
  font-family: 'IBM Plex Sans Arabic', sans-serif!important;
} 

/* #__next {

  height: 100%;
} */