@import url("https://www.fontstatic.com/f=bahij");

#load {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  text-align: center;
  background: green;
  color: #fff;
  padding-top:25%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


html{
  overflow-y: overlay;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
* {
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
  font-family: 'IBM Plex Sans Arabic', sans-serif!important;
} 

/* #__next {

  height: 100%;
} */