.msg {
  width: 100%;
  height: 100%;
  z-index: 5;
  font-size: medium;
  text-align: center;
  color: wheat;
  left: 0;
  top: 0;
  overflow: hidden;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
