.pageWrapper {
  width: 100%;
  height: inherit;
  margin-top: 55px;
  position: relative;
}

.word {
}

.wordWrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  font-size: 25px;
}

.select {
  padding: 2px 5px;
  font-size: 20px;
  position: fixed;
  left: 15px;
  bottom: 15px;
  z-index: 5;
}

.audio {
  & > audio {
  }
}

.word {
  text-align: center;
}

.loading {
}
.error {
}
